<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cliente-Form</title>
  <div th:replace="~{fragments/layout.html :: imports}"></div>
</head>

<body>
  <header th:insert="~{fragments/layout.html :: sidebar}"> </header>
  <main class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-50 min-h-screen transition-all main">
    <div th:replace="~{fragments/layout.html :: navbar}"></div>
    <div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg m-6">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">User Information</h2>
      <form class="space-y-4" th:action="@{/client/add}" th:object="${client}" method="post">
        <input type="hidden" th:field="*{id}">
        <!-- First Name -->
        <div>
          <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
          <input type="text" th:field="*{firstName}" placeholder="Enter your first name"
            class="mt-1 block w-full h-10 text-lg p-2 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" />
          <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
        </div>

        <!-- Last Name -->
        <div>
          <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
          <input type="text" th:field="*{lastName}" placeholder="Enter your last name"
            class="mt-1 block w-full h-10 text-lg p-2 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" />
          <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="email" th:field="*{email}" placeholder="Enter your email"
            class="mt-1 block w-full h-10 text-lg p-2 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" />
          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
        </div>

        <!-- Phone Number -->
        <div>
          <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <input type="tel" th:field="*{phoneNumber}" placeholder="Enter your phone number"
            class="mt-1 block w-full h-10 text-lg p-2 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" />
          <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phone Error</div>
        </div>
        <div th:if="${#fields.hasErrors('global')}">
          <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
        </div>
        <!-- Submit Button -->
        <div>
          <button type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-white !bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:text-sm">
            Guardar
          </button>
        </div>
      </form>
    </div>
    </div>

  </main>
  <script src="/dist/js/script.js"></script>

</body>

</html>